<form method="POST" action="/filter-language" class="filter-form">
    <select aria-label="filter library by language" name="language" required class="drop-it">
        <option value="" disabled="disabled" selected="selected">SELECT A LANGUAGE</option>
        <option value="">ALL LANGUAGES</option>
        <option value="CSS">CSS</option>
        <option value="EXPRESS">EXPRESS</option>
        <option value="HANDLEBARS">HANDLEBARS</option>
        <option value="HTML">HTML</option>
        <option value="JAVASCRIPT">JAVASCRIPT</option>
        <option value="NODE">NODE</option>
        <option value="REACT">REACT</option>
        <option value="SQL">SQL</option>
    </select>
    <button class="filtering" type="submit">Filter <i class="fas fa-filter"></i></button>
</form>
<table class="table" style="overflow-x:auto;">
    <tr class="table-row">
        <th class="column">Language</th>
        <th class="column">Title</th>
        <th class="column">Description</th>
        <th class="column">Link</th>
    </tr>

    {{#each tableRows}}
    <tr>
        <td class="table-data">{{language}}</td>
        <td class="table-data">{{title}}</td>
        <td class="table-data">{{description}}</td>
        <td class="table-data"><a href="{{link}}" alt="link to resource" target="_blank"
                title="{{link}}"></a>{{link}}</a></td>
    </tr>
    {{/each}}

</table>